[mysqladmin]
user=scl

[mysqld]
server_id=1
port=3306
max_allowed_packet=16M
bind_address=0.0.0.0
character_set_server=utf8mb4
collation_server=utf8mb4_unicode_ci
log-bin=binlog

[client]
port=3306
default_character_set=utf8mb4

[manager]
port=3306
